# The docker image name you build with:
# docker build -t frappe-erpnext-v15:latest .
CUSTOM_IMAGE=frappe-erpnext-v15
IMAGE_TAG=latest

# Your Frappe site name — this becomes the site folder name
# AND the MariaDB database name. Use your actual domain.
FRAPPE_SITE_NAME=erp.mycompany.com
FRAPPE_SITE_NAME_HEADER=$$host

# project Name for docker compose file
COMPOSE_PROJECT_NAME=frappe

# MariaDB root password — used during bench new-site and healthcheck
DB_HOST=mariadb
DB_PORT=3306
DB_ROOT_PASSWORD=root@123

# App-level DB user — Frappe uses this for all DB operations
DB_USER=frappe
DB_PASSWORD=some_strong_app_password


# Gunicorn — defaults work for most setups
# Increase WORKERS if you have more than 2 CPU cores
GUNICORN_WORKERS=2
GUNICORN_THREADS=4

# Host ports — only change if 8000 or 9000 are already in use
# These are what your host nginx proxy_pass points to
BACKEND_PORT=8000
SOCKETIO_PORT=9000

# REDIS URLs — these are used by Frappe to connect to Redis services
REDIS_CACHE=redis://redis_cache:6379
REDIS_QUEUE=redis://redis_queue:6379
REDIS_SOCKETIO=redis://redis_queue:6379


# =============================================================================
# Network
# =============================================================================
NETWORK_NAME=frappe-net

# =============================================================================
# Volume names
# =============================================================================
VOLUME_SITES=frappe_v15_sites
VOLUME_LOGS=frappe_v15_logs
VOLUME_MARIADB=frappe_v15_mariadb
VOLUME_REDIS_CACHE=frappe_v15_redis_cache
VOLUME_REDIS_QUEUE=frappe_v15_redis_queue
